<!DOCTYPE html>
<html>
<head>
    <title>REGISTER</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="reg-form">
        <form action="/register_form" method="post">
            <input type="number" name="id" placeholder="ID"> <br>
            <input type="text" name="name" placeholder="Name"> <br>
            <input type="number" name="phone" placeholder="Phone Number"> <br>
            <input type="email" name="email" placeholder="Email"> <br>
            <input type="number" name="rank" placeholder="Eamcet-Rank"> <br>
            <input type="number" name="percentage" placeholder="Inter Percentage"> <br>
            <input type="text" name="course" placeholder="Course Intrested"> <br>
            <input type="text" name="address" placeholder="Address"> <br>
            <button>REGISTER</button>
        </form>
    </div>
</body>
</html>