<!DOCTYPE html>
<html lang="en">
<head>
    <title>UPDATE</title>
</head>
<body>
    <div class="update-section">
        <form action="update_form" method="post">
            <input type="number" name="id" placeholder="ID"> <br>
            <select name="field"> <br>
                <option value="name">name</option>
                <option value="emai">Email</option>
                <option value="phone">Name</option>
                <option value="percentage">Percentage</option>
                <option value="rank">Rank</option>
                <option value="course">Course</option>
                <option value="address">Address</option>
            </select> <br>
            <input type="text" name="new_value" placeholder="New Data"> <br>
            <button>SUBMIT</button> 
        </form>
    </div>
</body>
</html>